<!-- <h1>Welcome To Directives</h1>
<h2>Noraml Heading</h2>
<h2 appCustomstyle>Custom Heading</h2> -->

<!-- //msh prac -->
<!-- <div *ngIf = "courses.length > 0; then courseslist else noCourses"></div>
<ng-template #courseslist>
  List Of Courses
</ng-template>
<ng-template #noCourses>
  No courses yet
</ng-template> -->
<!-- <div>
  No Courses Yet
</div> -->
<!-- <img [src]="imageUrl">      property binding -->

<!--  for ngSwitch prac -->
<!-- <ul class="nav nav-pills">
  <li [class.active] = "viewMode == 'map'">
<a (click)="viewMode = 'map'">Map View</a>
  </li>
  <li [class.active] = "viewMode == 'list'">
    <a (click)="viewMode = 'list'">List View</a>
      </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content
  </div>
  <div *ngSwitchCase="'list'">List View Content
  </div>
  <div *ngSwitchDefault="'list'">Otherwise
  </div>
</div> -->

 <!-- Two-way data binding ex -->
 <input [(ngModel)]="title">
<p>{{ title }}</p>